.btn-scroll-top {
    width: 140px;
    height: 56px;
    overflow: hidden;
    border: none;
    color: #fff;
    background: none;
    position: relative;
    padding-bottom: 2em;
    cursor: pointer;
    z-index: 1000000;
}

.btn-scroll-top>div,
.btn-scroll-top>svg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.btn-scroll-top:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
}

.btn-scroll-top:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn-scroll-top .clone>*,
.btn-scroll-top .text>* {
    opacity: 1;
    font-size: 1.3rem;
    transition: 0.2s;
    margin-left: 4px;
}

.btn-scroll-top .clone>* {
    transform: translateY(60px);
}

.btn-scroll-top:hover .clone>* {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.btn-scroll-top:hover .text>* {
    opacity: 1;
    transform: translateY(-60px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.btn-scroll-top:hover .clone> :nth-child(1) {
    transition-delay: 0.15s;
}

.btn-scroll-top:hover .clone> :nth-child(2) {
    transition-delay: 0.2s;
}

.btn-scroll-top:hover .clone> :nth-child(3) {
    transition-delay: 0.25s;
}

.btn-scroll-top:hover .clone> :nth-child(4) {
    transition-delay: 0.3s;
}

/* icon style and hover */
.btn-scroll-top svg {
    width: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-50deg);
    transition: 0.2s ease-out;
}

.btn-scroll-top:hover svg {
    transform: translateY(-50%) rotate(-90deg);
}
/* scroll to top .btn-scroll-top */

#scroll-top {
    position: fixed;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
}

/* ---------------------------------------------------------------------------------------
                                        Preloader 
------------------------------------------------------------------------------------------*/
:root {
    --hue: 223;
    --bg: hsl(var(--hue), 90%, 95%);
    --fg: hsl(var(--hue), 90%, 5%);
    --trans-dur: 0.3s;
    /* font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320)); */
}


.ip {
    width: 16em;
    height: 8em;
}

.ip__track {
    stroke: hsl(var(--hue), 90%, 90%);
    transition: stroke var(--trans-dur);
}

.ip__worm1,
.ip__worm2 {
    animation: worm1 2s linear infinite;
}

.ip__worm2 {
    animation-name: worm2;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(var(--hue), 90%, 5%);
        --fg: hsl(var(--hue), 90%, 95%);
    }

    .ip__track {
        stroke: hsl(var(--hue), 90%, 15%);
    }
}

/* Animation */
@keyframes worm1 {
    from {
        stroke-dashoffset: 0;
    }

    50% {
        animation-timing-function: steps(1);
        stroke-dashoffset: -358;
    }

    50.01% {
        animation-timing-function: linear;
        stroke-dashoffset: 358;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes worm2 {
    from {
        stroke-dashoffset: 358;
    }

    50% {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: -358;
    }
}


.preloader {
    display: flex;
}

.preloader {
    animation: tiltSpin 8s linear infinite;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 17em;
    height: 17em;
}

.preloader,
.preloader__ring {
    transform-style: preserve-3d;
}

.preloader__ring {
    animation-name: spin;
    animation-duration: 4s;
    animation-timing-function: inherit;
    animation-iteration-count: inherit;
    font-size: 2em;
    position: relative;
    height: 3rem;
    width: 1.5rem;
}

.preloader__ring:nth-child(even) {
    animation-direction: reverse;
}

.preloader__sector {
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    transform: translateZ(7rem);
}

.preloader__sector,
.preloader__sector:empty:before {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.preloader__sector:empty:before {
    background: linear-gradient(transparent 45%, currentColor 45% 55%, transparent 55%);
    content: "";
}

.preloader__sector:nth-child(2) {
    transform: rotateY(12deg) translateZ(7rem);
}

.preloader__sector:nth-child(3) {
    transform: rotateY(24deg) translateZ(7rem);
}

.preloader__sector:nth-child(4) {
    transform: rotateY(36deg) translateZ(7rem);
}

.preloader__sector:nth-child(5) {
    transform: rotateY(48deg) translateZ(7rem);
}

.preloader__sector:nth-child(6) {
    transform: rotateY(60deg) translateZ(7rem);
}

.preloader__sector:nth-child(7) {
    transform: rotateY(72deg) translateZ(7rem);
}

.preloader__sector:nth-child(8) {
    transform: rotateY(84deg) translateZ(7rem);
}

.preloader__sector:nth-child(9) {
    transform: rotateY(96deg) translateZ(7rem);
}

.preloader__sector:nth-child(10) {
    transform: rotateY(108deg) translateZ(7rem);
}

.preloader__sector:nth-child(11) {
    transform: rotateY(120deg) translateZ(7rem);
}

.preloader__sector:nth-child(12) {
    transform: rotateY(132deg) translateZ(7rem);
}

.preloader__sector:nth-child(13) {
    transform: rotateY(144deg) translateZ(7rem);
}

.preloader__sector:nth-child(14) {
    transform: rotateY(156deg) translateZ(7rem);
}

.preloader__sector:nth-child(15) {
    transform: rotateY(168deg) translateZ(7rem);
}

.preloader__sector:nth-child(16) {
    transform: rotateY(180deg) translateZ(7rem);
}

.preloader__sector:nth-child(17) {
    transform: rotateY(192deg) translateZ(7rem);
}

.preloader__sector:nth-child(18) {
    transform: rotateY(204deg) translateZ(7rem);
}

.preloader__sector:nth-child(19) {
    transform: rotateY(216deg) translateZ(7rem);
}

.preloader__sector:nth-child(20) {
    transform: rotateY(228deg) translateZ(7rem);
}

.preloader__sector:nth-child(21) {
    transform: rotateY(240deg) translateZ(7rem);
}

.preloader__sector:nth-child(22) {
    transform: rotateY(252deg) translateZ(7rem);
}

.preloader__sector:nth-child(23) {
    transform: rotateY(264deg) translateZ(7rem);
}

.preloader__sector:nth-child(24) {
    transform: rotateY(276deg) translateZ(7rem);
}

.preloader__sector:nth-child(25) {
    transform: rotateY(288deg) translateZ(7rem);
}

.preloader__sector:nth-child(26) {
    transform: rotateY(300deg) translateZ(7rem);
}

.preloader__sector:nth-child(27) {
    transform: rotateY(312deg) translateZ(7rem);
}

.preloader__sector:nth-child(28) {
    transform: rotateY(324deg) translateZ(7rem);
}

.preloader__sector:nth-child(29) {
    transform: rotateY(336deg) translateZ(7rem);
}

.preloader__sector:nth-child(30) {
    transform: rotateY(348deg) translateZ(7rem);
}

/* Animations */
@keyframes tiltSpin {
    from {
        transform: rotateY(0) rotateX(30deg);
    }

    to {
        transform: rotateY(1turn) rotateX(30deg);
    }
}

@keyframes spin {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(1turn);
    }
}

/* ---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
                                        Events 
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------*/
.gallery {
    display: grid;
    width: 100%;
    grid-gap: 50px;
    margin: 5rem;
    padding: 5rem;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: auto;
    justify-content: center;
}

figure {
  width: 300px;
  /* perspective: 900px; */
    box-shadow: 5px 5px #686868 !important;
    margin: 1rem;
    z-index: 1;
}
figure img {
  width: 300px;
  height: 200px;
}

 .imageRoll {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #fff;
  box-shadow: 0.5em 0.5em 2em #1234, 0 0 5em #1234 inset;
}
.imageRoll i {
  position: absolute;
  left: calc(100% - 1px);
  width: 6px;
  height: 200px;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: transform 0.6s var(--delay, 0s) ease-in-out;
  background-image: linear-gradient(#0003, #0000 5% 95%, #0003), var(--imageUrl, "");
  background-position-x: calc(var(--bpx, 0) + 1px);
  background-size: 295px 200px;
}
.imageRoll>i {
    left: 0;
    width: 5px;
}

.imageRoll:hover i {
    transform: rotateY(var(--angle, 0deg)) skewY(var(--skew, 0deg));
    transition-delay: var(--delay2, 0s);
}

.imageRoll>i {
    --bpx: 0px;
    --delay: 0s;
    --delay2: 0.6s;
    --angle: -10deg;
    --skew: 0deg;
}

.imageRoll>i>i {
    --bpx: -5px;
    --delay: 0.01s;
    --delay2: 0.59s;
    --angle: -10.1deg;
    --skew: -0.1deg;
}

.imageRoll>i>i>i {
    --bpx: -10px;
    --delay: 0.02s;
    --delay2: 0.58s;
    --angle: -10.2deg;
    --skew: -0.2deg;
}

.imageRoll>i>i>i>i {
    --bpx: -15px;
    --delay: 0.03s;
    --delay2: 0.57s;
    --angle: -10.3deg;
    --skew: -0.3deg;
}

.imageRoll>i>i>i>i>i {
    --bpx: -20px;
    --delay: 0.04s;
    --delay2: 0.56s;
    --angle: -10.4deg;
    --skew: -0.4deg;
}

.imageRoll>i>i>i>i>i>i {
    --bpx: -25px;
    --delay: 0.05s;
    --delay2: 0.55s;
    --angle: -10.5deg;
    --skew: -0.5deg;
}

.imageRoll>i>i>i>i>i>i>i {
    --bpx: -30px;
    --delay: 0.06s;
    --delay2: 0.54s;
    --angle: -10.6deg;
    --skew: -0.6deg;
}

.imageRoll>i>i>i>i>i>i>i>i {
    --bpx: -35px;
    --delay: 0.07s;
    --delay2: 0.53s;
    --angle: -10.7deg;
    --skew: -0.7deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i {
    --bpx: -40px;
    --delay: 0.08s;
    --delay2: 0.52s;
    --angle: -10.8deg;
    --skew: -0.8deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i {
    --bpx: -45px;
    --delay: 0.09s;
    --delay2: 0.51s;
    --angle: -10.9deg;
    --skew: -0.9deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -50px;
    --delay: 0.1s;
    --delay2: 0.5s;
    --angle: -11deg;
    --skew: -1deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -55px;
    --delay: 0.11s;
    --delay2: 0.49s;
    --angle: -11.1deg;
    --skew: -1.1deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -60px;
    --delay: 0.12s;
    --delay2: 0.48s;
    --angle: -11.2deg;
    --skew: -1.2deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -65px;
    --delay: 0.13s;
    --delay2: 0.47s;
    --angle: -11.3deg;
    --skew: -1.3deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -70px;
    --delay: 0.14s;
    --delay2: 0.46s;
    --angle: -11.4deg;
    --skew: -1.4deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -75px;
    --delay: 0.15s;
    --delay2: 0.45s;
    --angle: -11.5deg;
    --skew: -1.5deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -80px;
    --delay: 0.16s;
    --delay2: 0.44s;
    --angle: -11.6deg;
    --skew: -1.6deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -85px;
    --delay: 0.17s;
    --delay2: 0.43s;
    --angle: -11.7deg;
    --skew: -1.7deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -90px;
    --delay: 0.18s;
    --delay2: 0.42s;
    --angle: -11.8deg;
    --skew: -1.8deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -95px;
    --delay: 0.19s;
    --delay2: 0.41s;
    --angle: -11.9deg;
    --skew: -1.9deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -100px;
    --delay: 0.2s;
    --delay2: 0.4s;
    --angle: -12deg;
    --skew: -2deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -105px;
    --delay: 0.21s;
    --delay2: 0.39s;
    --angle: -12.1deg;
    --skew: -2.1deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -110px;
    --delay: 0.22s;
    --delay2: 0.38s;
    --angle: -12.2deg;
    --skew: -2.2deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -115px;
    --delay: 0.23s;
    --delay2: 0.37s;
    --angle: -12.3deg;
    --skew: -2.3deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -120px;
    --delay: 0.24s;
    --delay2: 0.36s;
    --angle: -12.4deg;
    --skew: -2.4deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -125px;
    --delay: 0.25s;
    --delay2: 0.35s;
    --angle: -12.5deg;
    --skew: -2.5deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -130px;
    --delay: 0.26s;
    --delay2: 0.34s;
    --angle: -12.6deg;
    --skew: -2.6deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -135px;
    --delay: 0.27s;
    --delay2: 0.33s;
    --angle: -12.7deg;
    --skew: -2.7deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -140px;
    --delay: 0.28s;
    --delay2: 0.32s;
    --angle: -12.8deg;
    --skew: -2.8deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -145px;
    --delay: 0.29s;
    --delay2: 0.31s;
    --angle: -12.9deg;
    --skew: -2.9deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -150px;
    --delay: 0.3s;
    --delay2: 0.3s;
    --angle: -13deg;
    --skew: -3deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -155px;
    --delay: 0.31s;
    --delay2: 0.29s;
    --angle: -13.1deg;
    --skew: -3.1deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -160px;
    --delay: 0.32s;
    --delay2: 0.28s;
    --angle: -13.2deg;
    --skew: -3.2deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -165px;
    --delay: 0.33s;
    --delay2: 0.27s;
    --angle: -13.3deg;
    --skew: -3.3deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -170px;
    --delay: 0.34s;
    --delay2: 0.26s;
    --angle: -13.4deg;
    --skew: -3.4deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -175px;
    --delay: 0.35s;
    --delay2: 0.25s;
    --angle: -13.5deg;
    --skew: -3.5deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -180px;
    --delay: 0.36s;
    --delay2: 0.24s;
    --angle: -13.6deg;
    --skew: -3.6deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -185px;
    --delay: 0.37s;
    --delay2: 0.23s;
    --angle: -13.7deg;
    --skew: -3.7deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -190px;
    --delay: 0.38s;
    --delay2: 0.22s;
    --angle: -13.8deg;
    --skew: -3.8deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -195px;
    --delay: 0.39s;
    --delay2: 0.21s;
    --angle: -13.9deg;
    --skew: -3.9deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -200px;
    --delay: 0.4s;
    --delay2: 0.2s;
    --angle: -14deg;
    --skew: -4deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -205px;
    --delay: 0.41s;
    --delay2: 0.19s;
    --angle: -14.1deg;
    --skew: -4.1deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -210px;
    --delay: 0.42s;
    --delay2: 0.18s;
    --angle: -14.2deg;
    --skew: -4.2deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -215px;
    --delay: 0.43s;
    --delay2: 0.17s;
    --angle: -14.3deg;
    --skew: -4.3deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -220px;
    --delay: 0.44s;
    --delay2: 0.16s;
    --angle: -14.4deg;
    --skew: -4.4deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -225px;
    --delay: 0.45s;
    --delay2: 0.15s;
    --angle: -14.5deg;
    --skew: -4.5deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -230px;
    --delay: 0.46s;
    --delay2: 0.14s;
    --angle: -14.6deg;
    --skew: -4.6deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -235px;
    --delay: 0.47s;
    --delay2: 0.13s;
    --angle: -14.7deg;
    --skew: -4.7deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -240px;
    --delay: 0.48s;
    --delay2: 0.12s;
    --angle: -14.8deg;
    --skew: -4.8deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -245px;
    --delay: 0.49s;
    --delay2: 0.11s;
    --angle: -14.9deg;
    --skew: -4.9deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -250px;
    --delay: 0.5s;
    --delay2: 0.1s;
    --angle: -15deg;
    --skew: -5deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -255px;
    --delay: 0.51s;
    --delay2: 0.09s;
    --angle: -15.1deg;
    --skew: -5.1deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -260px;
    --delay: 0.52s;
    --delay2: 0.08s;
    --angle: -15.2deg;
    --skew: -5.2deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -265px;
    --delay: 0.53s;
    --delay2: 0.07s;
    --angle: -15.3deg;
    --skew: -5.3deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -270px;
    --delay: 0.54s;
    --delay2: 0.06s;
    --angle: -15.4deg;
    --skew: -5.4deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -275px;
    --delay: 0.55s;
    --delay2: 0.05s;
    --angle: -15.5deg;
    --skew: -5.5deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -280px;
    --delay: 0.56s;
    --delay2: 0.04s;
    --angle: -15.6deg;
    --skew: -5.6deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -285px;
    --delay: 0.57s;
    --delay2: 0.03s;
    --angle: -15.7deg;
    --skew: -5.7deg;
}

.imageRoll>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i>i {
    --bpx: -290px;
    --delay: 0.58s;
    --delay2: 0.02s;
    --angle: -15.8deg;
    --skew: -5.8deg;
}

.imageRoll>figcaption {
    position: absolute;
    text-align: center;
    padding-top: 2em;
    padding-inline: 100px 25px;
    z-index: -1;
    font-size: 32px;
    width: 100%;
    height: 100%;
}

.imageRoll>figcaption strong {
    display: block;
    color: #000000;
}
/* ---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
                                Previous Year (Images Section) 
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------*/
.img-n {
    --s: 10px;
    /* size of the frame */
    --b: 2px;
    /* border thickness */
    --w: 400px;
    /* width of the image */
    --c: #ffffff;

    width: var(--w);
    /* aspect-ratio: 1; */
    object-fit: contain;
    padding: calc(2*var(--s));
    --_g: var(--c) var(--b), #0000 0 calc(100% - var(--b)), var(--c) 0;
    background:
        linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
        linear-gradient(90deg, var(--_g)) 50%/var(--_i, 100%) 100% no-repeat;
    /* outline: calc(var(--w)/2) solid #0009; */
    outline-offset: calc(var(--w)/-2 - 2*var(--s));
    transition: .4s;
    cursor: pointer;
}

.img-n:hover {
    outline: var(--b) solid var(--c);
    outline-offset: calc(var(--s)/-2);
    --_i: calc(100% - 2*var(--s));
    transform: scale(1.25);
}
/* ---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
                                        Parallax Container 
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------*/
:root {
    --color: #333;
}

.parallax-container {
    text-align: center;
    color: var(--color);
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../images/background-dark.jpeg");
    background-size: cover;
    background-position: center;
    /*  this is where the magic happens:  */
    background-attachment: fixed;
    
}

.buffer,
.other {
    width: 100%;
    padding: 2rem;
    /* min-height: 50vh; */
    /* background-color: var(--color); */
}

.para-2 {
    /* background-image: url("../assets/images/background.jpg"); */
    background-attachment: fixed;
    background-color: #000000;
    /* height: 1200px; */
}

.para-2 {
    flex-direction: row;
    gap: 1.6em;
}

/* ---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
                                        Canvas Circles 
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------*/
#canvas .circle {
    display: inline-flex;
    text-align: center;
    margin: 1em;
}

.circles-decimals {
    font-size: .4em;
}

.containbar {
    position: relative;
    width: auto;
    display: flex;
    justify-content: space-around;
}

.containbar .cardbar {
    position: relative;
    background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 300px; */
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    width: 100%;
}

.containbar .cardbar:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.containbar .cardbar:before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
    pointer-events: none;
    z-index: 1;
}

.cardbar:hover .percent .number h2 span {
    color: #fff;
}

.cardbar:hover .text {
    color: #fff;
}

/* ---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
                                        Instructions Box 
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------*/

.info-box{
    width: 50%;
    height: 500px;
    background: #6cbbb7;
    vertical-align: middle;
    align-items: center;
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.info-circle{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    padding: 1.5rem;
    font-size: 40px;
    /* background-color: #fff; */
    border: 1px #fff solid;
}

  .navbar-custom {
            background-color: #2ab0a9; /* Custom background color */
            min-height: 80px;
        }
        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-nav .nav-link {
            color: white; /* Custom text color */
        }